
   
canvas {
    /* margin-left: 50px; */
    /* margin-top: 30px; */
    /* margin-right: 50%; */
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border: 2px solid #fafafa;
    /* background-color: rgb(41 34 92 / 0%); */
    padding: 10px;

  }
  
 

.profile {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border: 5px solid #ffffff;
    padding: 10px;
}


h1
{
    text-align: center;
    font-size: 40px;
    color: #ffffff;
    font-family: "Comic Sans MS", cursive, sans-serif;
}


p
{
    text-align: center;
    font-size: 20px;
    color: #ffffff;
    font-family: "Comic Sans MS", cursive, sans-serif;
}

.imageProfile
{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}


/*set loginBtn down of profile */
.Login_btn
{
    position: absolute;
    left: 50%;
    top: 100%;
    transform: translate(-50%, -50%);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style:initial;
    border: 5px solid #00ff6a;
    padding: 10px;
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}


.nav-bar-left-menu-item:hover 
{
  background-color: rgb(0, 7, 63);
}

.nav-bar-right-user-image
{
    margin-right: 10px;
    width: 30px;
    height: 30px;
    margin-left: 3px;
    margin-right: auto;
    margin-bottom: 20px;
    border-radius: 50%;
}

.nav-bar-right-user-name
{
    float: left;
    display: block;
    color: #ffffff;
    text-align: center;
    text-decoration: none;
    padding: 3px 5px;
    font-family: "Comic Sans MS", cursive, sans-serif;

}

.nav-bar-right-sign-in
{
    float: left;
    display: block;
    color: #ffffff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: "Comic Sans MS", cursive, sans-serif;
}
